
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:20px;
   
    
}
.name {
    font-size: 3rem
}
.titles {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 2.5rem;
 font-weight: 600;
}
.tecs_fe_be {
    display: flex;
    justify-content: center;

    
}
.techs_used_front {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    ;
}
.tec_img {
    width: 200px;
    height: 100px;
}
.tec_img1 {
    width: 250px;
    height: 100px;
}
.tec_img2 {
    width: 100px;
    height: 100px;
    margin-right: 80px;
}
.tec_img3 {
    width: 250px;
    height: 150px;
    margin-left: 40px;
}
.tec_img4 {
    display: flex;
    margin-left: 90px;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100px;
}

.react_router {
    display: flex;
    align-items: center;
}
.react_text {
    display: flex;
    flex-direction: column;
}
.react_bs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reactbs_bs {
    display: flex;
    align-items: center;
}
.back_end_tecs {
    display: flex;
    flex-direction: column;
    
}
.social_links {
    display: flex;
    justify-content: center;
    gap: 2px;
    padding-top: 20px;
}
.social_icons {
    flex: 2;
}

.linked {
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}
.github {
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}
.epicode {
    width: 50px;
    height: 50px;
}
h5 {
    font-size: 1.1rem;
    flex: 1;
}
.linked_text {
    display: flex;
}
.tecs_fe_be {
    display: flex;
    
    margin-left: 450px;
    margin-bottom: 50px;
    width: 800px;
    border: 1px solid var(--gy);
}
