
.navbar {
    background:var(--t);
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav_btn{
    color: var(--t);
    margin-left: 0.5em;
    padding: 5px 10px;
    border:none;

}
.nav_btn_list{
    color: white;
    margin-left: 0.5em;
    padding: 5px 10px;
    border:white;
    background:transparent ;
}
.nav_logo {
    font-weight:500;
    font-size: 1.4em;
    color: var(--g);
}
.logo_2{
    font-size: 1.8rem;
    color: var(--orange);
}
.nav_container {
    color: white;
    width: 100%;
    max-width: 1024px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_btn:hover {
    background: var(--d);
    color: var(--w);
}