/*---------------------------- header text ----------------------*/


.header {
    background-color:var(--t);
    color:white;
    display:flex;
    justify-content: center;
    position: relative;
}
.header_2 {
    font-size: 2.8rem;
    color: var(--orange);
}
.header_container {
    width: 100%;
    max-width: 1024px;
}
.header_list {
    display: flex;
    justify-content: center;
    font-size: 2rem;
   color: var(--g);
}
.header_subtitle {
    margin: 0px 0px 50px 0px;
}
.header_title {
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
}
.header_item {
    padding-bottom: 20px;
}
.logo_2 {
    color: var(--orange);
}
.logo_subtitle {
    color: var(--g);
}

/*---------------------------- header search ----------------------*/




.header_search {
    
    position: relative;
}
.header_search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid var(--g);
    background-color: white;
    height:45px;
    width: 40%;
    max-width: 1024px;
    position: absolute;
    bottom: -25px;
}
.header_search_section{
    display: flex;
    width: 90px;
    align-items: center;
    gap:0.8rem;
    padding-left: 0.5rem;
    cursor: pointer;
    order:2;
}
.header_search_btn {
   border: var(--g);
   color:var(--d);
   background-color: var(--g);
   padding: 8px 5px;
   width: 100%;
   order: 1;
   ;
}
.header_search_btn:hover {
    color:var(--gy);
    background: var(--d);
}

.header_search_icon {
    color:var(--g);
    font-size: 1.3rem;
}
.header_search_input {
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
}







