.header_search {
    position: relative;
}
.header_search_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid var(--g);
    background-color: white;
    height:40px;
    width: 100%;
    max-width: 1024px;
    position: absolute;
    bottom: -20px;
}
.header_search_section{
    border:2px solid var(--g);
}
.header_search_text {
    color: darkgray;
}
.header_search_icon {
    color:lightgray;
}

