.header_search {
    position: relative;
}
.header_search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid var(--g);
    background-color: white;
    height:45px;
    width: 100%;
    max-width: 1024px;
    position: absolute;
    bottom: -25px;
}
.header_search_section{
    display: flex;
    align-items: center;
    gap:0.8rem;
    padding-left: 0.5rem;
    cursor: pointer;
    order:2;
}
.header_search_btn {
   border: none;
   color:white;
   background-color: var(--t);
   padding: 15px;
   width: 100%;
   order: 1;
}
.header_search_btn:hover {
    color:var(--g);
}
.header_search_text {
    color: darkgray;
}
.header_search_icon {
    color:lightgray;
    font-size: 1.3rem;
}
.header_search_input {
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
}
.search_dates {
    position:absolute;
    top:50px;
    z-index: 2;
}
.search_guest_modal {
    color: gray;
}
.guest_input_counter {
    width: 1rem;
    text-align: center;
}

