.property_container {
   display: flex;
   justify-content: center;
    color: black;
    margin-bottom: 50px; 
}
.property_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    position: relative;
    
}
.property_url_btn {
    position:absolute;
    top:10px;
    margin-top: 20px;
    right: 0;
    padding: 10px;
    font-weight: bold;
    background: var(--g);
    border: none;
    color: white;
    cursor: pointer;
}
.property_title {
    font-size: 2.5rem;
}
.property_location_icon {
    font-size: 2rem;
    color: var(--orange);
}
.property_location {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 10px;
    margin-bottom: 10px;
}
.property_attractions {
    font-size: 1.5rem;
    margin-bottom: 20px;
    ;
}
.property_images {
    width: 100%;
    max-width: 1024px;
    display: flex;
height: 500px;
    margin: 20px 400px;
    flex-wrap: wrap ;
   
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    
}
.image_section {
    width: 33%;
}
.src_image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
}
.property_description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}
.property_details {
    flex: 3;
}
.property_specifications {
    font-size: 20px;
}
.guests_room {
    display: flex;
    justify-content: flex-start;
    gap: 30px;

}
.guest_count {
    font-size: 1.3rem;
    margin-left: 10px;
    color:var(--d);
}
.adult,.children,.bed {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gy);
}

/*----------- slider --------------------------------*/


.image_slider {
    position: absolute;
    top: 160px;
    left: 380px;
    width: 100%;
    max-width: 1020px;
    height: 490px;
    margin: 0px 40px 0px 20px;
   padding-left: 190px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.724);
}
.slider_image {
    width: 800px;
    margin-right: 270px;
}
.exit_slider {
    position: absolute;
    top: 10px;
    left: 20px;
    color: var(--gy);
    font-size: 2rem;
}
.exit_slider:hover {
    color: var(--orange);
}
.arrow {
    color: var(--gy);
    font-size: 3rem;
}
.arrow:hover {
color: var(--g)
}
.arrow_right {
    position: absolute;
    color: var(--gy);
    font-size: 3rem;
    margin-right:-700px;
}
.arrow_right:hover {
color: var(--g)
}
/*--------- spinner ----------*/

.loading_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin :200px;
    font-size: 5rem;
    

}
