.property_container {
   display: flex;
   justify-content: center;
    color: black;
    
}
.property_url_btn {
    position:absolute;
    top:10px;
    margin-top: 20px;
    right: 0;
    padding: 10px;
    font-weight: bold;
    background: var(--g);
    border: none;
    color: white;
    cursor: pointer;
}

.property_title {
    font-size: 2.5rem;
}
.property_location_icon {
    font-size: 2rem;
    color: var(--orange);
}
.property_location {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 10px;
    margin-bottom: 10px;
}
.property_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    position: relative;
    
}


.property_images {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    
}
.image_section {
    width: 33%;
}
.src_image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.property_attractions {
    font-size: 1.5rem;
    margin-bottom: 20px;
    ;
}
.property_description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.property_details {
    flex: 3;
}
.property_price_bid {
    display: flex;
    align-items:center;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--orange);
    margin-top: 10px;
    border-radius: 10px;
}
.live_auction {
    margin-top: 4px;
}
.current_bid{
    margin-top: -10px;
}
.current_bid_amount {
   margin-left: 10px;
    border:1px solid black;
    padding: 2px 4px;
    border-radius: 5px;
    
    ;
}