.active_auctions {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-bottom: 20px;

  
}
.active_img {
    width: 240px;
    height: 100px;
    object-fit:cover;
    border-radius: 5px;
}
.highest_bid {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.count_down {
    display: flex;
    flex-direction: column;
}