.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--t);
    height: auto;
    
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    background: var(--d);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.register{
    padding-bottom: 0px;
}
.login{
    padding-top: 0px;
}
.home_btn {
    font-size: 2rem;
    color: var(--orange);
    position: absolute;
    top: 5px;
    left: 10px;
}
.icon_text {
    font-size: 1.3rem;
    padding-left: 4px;
}