


.property_price_bid {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--d);
    margin-top: 10px;
    border-radius: 10px;

}
.live_auction_title {
    margin-top: 4px;
    margin-bottom: 4px ;
    display: flex;
    justify-content: center;
    color: var(--g);
}
.auction_subtitle {
    font-size: 18px;
    margin-top: -5px;
    display: flex;
    justify-content: start;
}
.current_bid{
    align-items: center;
    display: flex;
    color: var(--gy);
    margin-left: 50px;
}
.current_bid_amount {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--orange);
     padding-right: 5px;
     padding-top: 3px;
     border-radius: 5px;
     align-items: center;
 }
.property_input {
    font-size: 2rem;
    margin-top: -15px;
    padding-bottom: 10px;
}
.increment_btns {
    display: flex;;
    gap: 10px;
    align-items:center;
    margin-bottom: 10px;
}
.increase_btn {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
   
}
.decrease_btn {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}
.reset_btn {
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.reset_btn:hover {
    color: red;
    border: none;
}
.bid_input_field {
    margin: 5px 50px;
    border-radius: 5px;
}
.submit_bid_amount {
    font-size: 1.5rem;
    background-color: var(--g);
    margin:5px 50px ;
    border-radius: 10px;
    padding: 5px;
    border: none;
    
}
.counter_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    color: var(--gy);
    
   
}
.clock {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    
    
}
.count_down_clock {
   color: var(--orange);
}
.cancel_bid_btn {
    background: transparent;
    color: var(--orange);
    padding :10px;
    cursor:pointer;
    border:none;
}
.cancel_bid_btn:hover {
    border: none;
    background: var(--orange);
    color: var(--d);
    font-weight: 400;
    border-radius: 5px;
}