


.property_price_bid {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--d);
    margin-top: 10px;
    border-radius: 10px;
}
.live_auction_title {
    margin-top: 4px;
    margin-bottom: 4px ;
    display: flex;
    justify-content: center;
    color: var(--g);
}
.auction_subtitle {
    font-size: 18px;
    margin-top: -5px;
    display: flex;
    justify-content: start;
}
.current_bid{
    margin-top: 4px;
}
.current_bid_amount {
   margin-left: 10px;
   margin-right: 10px;
    border:1px solid black;
    padding-right: 5px;
    border-radius: 5px;
    align-items: center;
}
.property_input {
    font-size: 2rem;
    margin-top: -15px;
    padding-bottom: 10px;
}
.increment_btns {
    display: flex;;
    gap: 10px;
    align-items:center;
    margin-bottom: 10px;
}
.increase_btn {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
   
}
.decrease_btn {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}
.reset_btn {
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.reset_btn:hover {
    color: red;
    border: none;
}
.submit_bid_amount {
    font-size: 1.5rem;
    background-color: var(--g);
    margin-bottom:15px ;
    border-radius: 10px;
    padding: 5px;
    border: none;
}
.count_down_clock {
    margin-bottom: 20px;
}