:root {
    --orange:#f6490d;
    --darkBlue:#000249;
    --lightBlue:#1dced8;
    --gray:#c7c7c7;
    
    --d:#283739;
    --t:#2c5d63;
    --g:#a2c11c;
    --w:#faf9f0;
    
}
.rdrDateDisplayWrapper {
    background-color: var(--t) !important;
}

