.title {
    display: flex;
    justify-content: center;
    margin:20px 0px;
    color: var(--orange);
}
.main_form_container {
    background-color: var(--w);
    width: 600px;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;

}
.form_item {
    display:flex;
    flex-direction: column;
    padding: 5px 20px;
    
}

.form_item_guest{
    display: flex;
    justify-content:center;
    gap: 5px;
    margin-top: 15px;
    
}
.input_guests {
    width:50px;
    margin-right: 20px;
}
.input_bed {
    width: 200px;
}
.form_btn {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}
.btn {
    border-radius: 5px;
    background: var(--t);
    border: 1px solid var(--t);
}
.btn:hover {
    background:var(--orange); 
}
.btn_2 {
    border-radius: 5px;
    background: var(--g);
    margin-left: 10px;
    margin-right: 10px;
    border:  1px solid var(--g);
    
}
.btn_2:hover {
    color: green;
    border: 1px solid green;
    background: transparent;
}